<?xml version="1.0"?>
<config>
    <modules>
        <MobWeb_ShippingMethodFields>
            <version>0.0.1</version>
        </MobWeb_ShippingMethodFields>
    </modules>
    <global>
        <helpers>
            <shippingmethodfields>
                <class>MobWeb_ShippingMethodFields_Helper</class>
            </shippingmethodfields>
        </helpers>
        <blocks>
            <shippingmethodfields>
                <class>MobWeb_ShippingMethodFields_Block</class>
            </shippingmethodfields>
        </blocks>
        <models>
            <shippingmethodfields>
                <class>MobWeb_ShippingMethodFields_Model</class>
            </shippingmethodfields>
        </models>
        <resources>
            <shippingmethodfields_setup>
                <setup>
                    <module>MobWeb_ShippingMethodFields</module>
                    <class>Mage_Sales_Model_Entity_Setup</class>
                </setup>
            </shippingmethodfields_setup>
        </resources>
        <events>
            <sales_quote_save_before>
                <observers>
                    <sales_quote_save_before>
                        <type>singleton</type>
                        <class>MobWeb_ShippingMethodFields_Model_Observer</class>
                        <method>salesQuoteSaveBefore</method>
                    </sales_quote_save_before>
                </observers>
            </sales_quote_save_before>
            <sales_order_place_before>
                <observers>
                    <sales_order_place_before>
                        <type>singleton</type>
                        <class>MobWeb_ShippingMethodFields_Model_Observer</class>
                        <method>salesOrderPlaceBefore</method>
                    </sales_order_place_before>
                </observers>
            </sales_order_place_before>
        </events>
        <fieldsets>
            <sales_convert_quote>
                <pickup_store>
                    <to_order>*</to_order>
                </pickup_store>
                <pickup_date>
                    <to_order>*</to_order>
                </pickup_date>
            </sales_convert_quote>
        </fieldsets>
    </global>
    <frontend>
        <layout>
            <updates>
                <shippingmethodfields>
                    <file>shippingmethodfields.xml</file>
                </shippingmethodfields>
            </updates>
        </layout>
    </frontend>
</config>